
button,form,input{
    
    border-radius: 20px;
    box-shadow: 8px 6px rgb(22, 81, 168);
}
    
button{
    font-size: 15px;
    border: none;
    box-sizing: border-box;
    background-color: rgb(11, 98, 228);
}

button:hover{
    border: 3px solid rgb(2, 34, 82) ;
}


form {
    
    display: block;
    margin: auto;
    width: 600px;
    height: 400px;
    text-align: center;
    color: rgb(22, 81, 168);
    border-radius: 50px;
    background-color: rgba(2, 141, 206, 0.897);
}

.div1{
    
    text-align: center;
    color: rgb(8, 110, 206);
}


body {
    display: block;
    margin: auto;
    background-image: url(https://i.pinimg.com/564x/5b/71/55/5b7155aaa19c703bf636d766815f3c87.jpg);
    background-size:cover ;
    width: 1366px;
    height: 768px;
}   