body{
    margin: 100px;
    padding: 0px;
    background-image: url(https://i.pinimg.com/originals/5f/e6/2d/5fe62d64fee91c7edb0cce32ff5dd63c.jpg);
    background-size: cover;
}

.container{
    text-align: center;
    
}


.produto{
    background-image: url(https://img.freepik.com/fotos-gratis/superficie-de-metal-riscada-de-estilo-grunge-escuro_1048-12951.jpg);
    background-size: cover;
    border-radius: 50px;
    margin: auto;
    display: block;
    width: 700px;
    height: 500px;
}


.promocao{
    background-image: url(https://img.freepik.com/fotos-gratis/superficie-de-metal-riscada-de-estilo-grunge-escuro_1048-12951.jpg);
    background-size: cover;
    border-radius: 50px;
    margin: auto;
    display: block;
    width: 700px;
    height: 450px;

}


img {
    border-radius: 40px;
    margin: 20px;
    width: 250px;
    height: 250px;
}

.tituloPromocao{
    color: rgb(197, 13, 13);
    padding: 60px;
}


p, h3, details {
    color: aliceblue;
}


time{
    color: aliceblue;
}



form{
    color: aliceblue;
    padding: 60px;
}


input, button{
    margin: 10px;
    box-shadow: 6px 6px teal;
    border-radius: 20px;
}

del {
    color: red;
}

