body{
    margin: 100px;
    padding: 0px;
    background-image: url(https://i.pinimg.com/originals/5f/e6/2d/5fe62d64fee91c7edb0cce32ff5dd63c.jpg);
    background-size: cover;
}



.container{
    text-align: center;
    
}


.produto{
    background-image: url(https://img.freepik.com/fotos-gratis/superficie-de-metal-riscada-de-estilo-grunge-escuro_1048-12951.jpg);
    background-size: cover;
    border-radius: 50px;
    margin: auto;
    display: block;
    width: 700px;
    height: 500px;
}


.promocao{
    background-image: url(https://img.freepik.com/fotos-gratis/superficie-de-metal-riscada-de-estilo-grunge-escuro_1048-12951.jpg);
    background-size: cover;
    border-radius: 50px;
    margin: auto;
    display: block;
    width: 700px;
    height: 450px;

}


img {
    border-radius: 40px;
    margin: 20px;
    width: 250px;
    height: 250px;
}

.tituloPromocao{
    color: rgb(197, 13, 13);
    padding: 60px;
}


p, h3, details {
    color: aliceblue;
}


form{
    color: aliceblue;
    padding: 60px;
}


input, button{
    margin: 10px;
    box-shadow: 6px 6px teal;
    border-radius: 20px;
}

del {
    color: red;
}


time{
    color: aliceblue;
}



.segundos:after {
    content: '59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0.';
    animation: counter infinite 60s steps(60);
    
}



.munuto:after {
    content: '2 1 0';
    animation: counter infinite 180s steps(3);
}


@keyframes counter {
    to{
        transform: translate(-100%);
    }
}